ol
{
  list-style-type: none;
  margin: 0;
}

.entry
{
  border-bottom: solid 5px #eee;
  padding: 1em;
}

.entry .content
{
  display: none;
}

.current
{
  background-color: #ffc;
  border-bottom-color: #ff9;
}

/*.current .content
{
  display: block;
}

.current .summary
{
  display: none;
}*/

.entry .content img
{
  max-width: 350px;
}

#feed_title, #feed_description
{
  background-color: #666;
  color: #fff;
}

#feed_title
{
  border-top: solid 5px #555;
  margin: 0;
  padding: 1em 1em 0 1em;
}

#feed_description
{
  border-bottom: solid 5px #ccc;
  margin: 0;
  padding: 0 1em 1em 1em;
}